:root {
    box-sizing: border-box;
    font-size: 16px;
    --color-text-gray: #777777;
    --color-text-black: #222222;
}
*,
::before,
::after {
    box-sizing: inherit;
    margin:0;
    padding:0;
    line-height:1;
}

body{
font-family:'Open Sans';
}

.header-img{
  background-image: url('../img/Background-intro.png');
  background-repeat: no-repeat; 
  background-size: cover;
  height: 785px;
}

.wrap{
  width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.header-rectangle{
  background-image: url('../img/white-backrounds.png');
  background-repeat: no-repeat; 
  background-size: cover;
  width: 1000px;
  height: 127px;
 
}
.header-column{
  display: grid;
  grid-template-columns: 220px 220px 220px;
  column-gap: 25px;
  margin-left: 300px;
  padding-top: 55px;
}
.header-column__list{
  
}

.header-column__item{
display: flex;
}

.header-column__icon{
  color: pink;
}

.header-column__text{
  margin-left: 10px;
  color: var(--color-text-gray);
  font-size: 14px;
}
.header-column__text2{

  position: absolute;
  margin-top: 15px;
  font-size: 13px;
}


