:root {
    box-sizing: border-box;
    font-size: 16px;
    --color-text-gray: #777777;
    --color-text-black: #222222;
}
*,
::before,
::after {
    box-sizing: inherit;
    margin:0;
    padding:0;
    line-height:1;
}

body{
font-family:'Open Sans';
}

.header-img{
  background-image: url('../img/Background-intro.png');
  background-repeat: no-repeat; 
  background-size: cover;
  height: 785px;
}

.wrap{
  width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.header-rectangle{
  background-image: url('../img/white-backrounds.png');
  background-repeat: no-repeat; 
  background-size: cover;
  width: 1000px;
  height: 127px;
 
}
.header-column{
  display: grid;
  grid-template-columns: 220px 220px 220px;
  column-gap: 25px;
  margin-left: 300px;
  padding-top: 55px;
}
.header-column__list{
  
}

.header-column__item{
display: flex;
}

.header-column__icon{
  color: pink;
}

.header-column__text{
  margin-left: 10px;
  color: var(--color-text-gray);
  font-size: 14px;
}
.header-column__text2{

  position: absolute;
  margin-top: 15px;
  font-size: 13px;
}

.header-nav__background{
  background-image: url('../img/BlackBackground-intro.png');
  background-repeat: no-repeat; 
  background-size: cover;
  width: 1000px;
  height: 56px;
}

.header-nav__list{
  text-transform: uppercase;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-left: 25px;
  padding-top: 14px; 
}

.header-nav__list a{
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  margin-left: 25px;
  font-size: 13px;
  color: #fff;
  position: relative;
}

.header-nav__list a:hover{
  font-weight: bold;
  color: #fff;
}

.header-nav__list li{
  display: inline;
}

.header-nav__icon{
  margin-left: 70px;
}

.header-white{
  margin-top: 180px;
  background: url('../img/Background-rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 172px;
  width: 463px;
  padding-top: 20px;
}

.header-white__title{
  margin-left: 20px;
  margin-bottom: 10px;
  bottom: 20px;
  font-size: 22px;
  color: #484c51;
}

.header-white__text{
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  color: var(--color-text-gray);
}

.header-btn{
  margin-top: 9px;
}

.header-btn__link {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 20px;
  padding: .8em 1em calc(.8em + 3px);
  background: #f17398;
  box-shadow: 0 -3px #db577e inset;
  transition: 0.2s;
  font-size: 12px;
} 
.header-btn__link:hover { 
  background: #db577e; 
}
.header-btn__link:active {
  background: #da4571;
  box-shadow: 0 3px #da4571 inset;
}

.header-search__icon{
  background-image: url('../img/icon-search.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 55px;
  width: 55px;
  margin-top: 170px;
}

.header-search__text{
  margin-left: 55px;
}

.colortext{
  text-transform: uppercase;
  background-color: black;
  width: 260px;
  height: 55px;
  color: white;
  text-align: center;
  font-size: 17px;
}